body { margin:0; padding:0;
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  height:100%;
  }
html { margin:0; padding:0; height:100%;}

h1 { font-size: 180%; border-bottom: 1px solid #cccccc; padding: .5em 0; margin: 1em 0 1em; }
h2 { font-size: 140%; }
h3 { font-size: 110%; }
img { padding: 5px; margin: 5px; box-shadow: 1px 1px 3px #aaa; }

#doc-head { height:87px; background: #b9373b; border-bottom: 1px #333 solid; padding:5px 0 5px 10px; }
#doc-head h1 { font-size: 200%; border-bottom: none; color:white; padding: 5px 0 0 0; margin:0;}
#doc-head img { float:right; padding:0; margin: 2px 15px; }
#doc-head ul { margin:0; padding:0; margin-top: 10px; }
#doc-head ul li { list-style: none; display: inline; }
#doc-head ul a { color: white; }
#doc-head ul a:hover { text-decoration: none; }
#main-content { margin: 1em; }

/*For tables that want to represent database entries*/
table.repdb { border: 1px solid black; padding: 0px; }
table.repdb th, tr, td{ border: 1px solid black; padding: 3px; }

#footer { margin: 2em 0 0 0; padding: 1em; background: #ccc; color: #1b1b1b; }

div.highlight { border: solid 1px #aaaaaa; padding: 0.5em 1em; margin: 0 2em; overflow: auto; }

div.highlight .hll { background-color: #ffffcc }
div.highlight  { background: #f8f8f8; }
div.highlight .c { color: #408080; font-style: italic } /* Comment */
div.highlight .err { border: 1px solid #FF0000 } /* Error */
div.highlight .k { color: #008000; font-weight: bold } /* Keyword */
div.highlight .o { color: #666666 } /* Operator */
div.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
div.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
div.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
div.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
div.highlight .gd { color: #A00000 } /* Generic.Deleted */
div.highlight .ge { font-style: italic } /* Generic.Emph */
div.highlight .gr { color: #FF0000 } /* Generic.Error */
div.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.highlight .gi { color: #00A000 } /* Generic.Inserted */
div.highlight .go { color: #808080 } /* Generic.Output */
div.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
div.highlight .gs { font-weight: bold } /* Generic.Strong */
div.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.highlight .gt { color: #0040D0 } /* Generic.Traceback */
div.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
div.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
div.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
div.highlight .kp { color: #008000 } /* Keyword.Pseudo */
div.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
div.highlight .kt { color: #B00040 } /* Keyword.Type */
div.highlight .m { color: #666666 } /* Literal.Number */
div.highlight .s { color: #BA2121 } /* Literal.String */
div.highlight .na { color: #7D9029 } /* Name.Attribute */
div.highlight .nb { color: #008000 } /* Name.Builtin */
div.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
div.highlight .no { color: #880000 } /* Name.Constant */
div.highlight .nd { color: #AA22FF } /* Name.Decorator */
div.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
div.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
div.highlight .nf { color: #0000FF } /* Name.Function */
div.highlight .nl { color: #A0A000 } /* Name.Label */
div.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
div.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
div.highlight .nv { color: #19177C } /* Name.Variable */
div.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
div.highlight .w { color: #bbbbbb } /* Text.Whitespace */
div.highlight .mf { color: #666666 } /* Literal.Number.Float */
div.highlight .mh { color: #666666 } /* Literal.Number.Hex */
div.highlight .mi { color: #666666 } /* Literal.Number.Integer */
div.highlight .mo { color: #666666 } /* Literal.Number.Oct */
div.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
div.highlight .sc { color: #BA2121 } /* Literal.String.Char */
div.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
div.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
div.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
div.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
div.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
div.highlight .sx { color: #008000 } /* Literal.String.Other */
div.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
div.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
div.highlight .ss { color: #19177C } /* Literal.String.Symbol */
div.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
div.highlight .vc { color: #19177C } /* Name.Variable.Class */
div.highlight .vg { color: #19177C } /* Name.Variable.Global */
div.highlight .vi { color: #19177C } /* Name.Variable.Instance */
div.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
