<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="{{ page.rootPath }}styles.css" />
</head>
<body>

<div id="doc-head"><img src="{{ page.rootPath }}images/pginalogo_simple.png" />
<h1>pGina Documentation</h1>
<ul><li><a href="{{ page.rootPath }}index.html">Index</a></li></ul></div>

<div id="main-content">

{{ content }}

</div>

<div id="footer">&copy; 2012 pGina Team</div>

</body>

</html>
